USE [master]
GO
/****** Object:  Database [Muebla]    Script Date: 23/08/2015 18:56:16 ******/
CREATE DATABASE [Muebla]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Muebla', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Muebla.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Muebla_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Muebla_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Muebla].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Muebla]
GO
/****** Object:  User [IIS APPPOOL\Muebla]    Script Date: 23/08/2015 18:56:16 ******/
CREATE USER [IIS APPPOOL\Muebla] FOR LOGIN [IIS APPPOOL\Muebla] WITH DEFAULT_SCHEMA=[IIS APPPOOL\Muebla]
GO
/****** Object:  Schema [IIS APPPOOL\Muebla]    Script Date: 23/08/2015 18:56:16 ******/
CREATE SCHEMA [IIS APPPOOL\Muebla]
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_IDIOMA_COMPONENTE_SP]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_IDIOMA_COMPONENTE_SP]
@idioma integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT c.id,c.nombre,i.texto,c.pagina, c.formulario
	FROM IdiomaComponente i 
	inner join Componente c ON (c.id = i.idComponente)
	WHERE i.idIdioma = @idioma;
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_PERMISOS_SP]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_PERMISOS_SP]
@rol integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT c.id,c.nombre,c.texto,c.pagina,padre.id,padre.texto, c.formulario
	FROM RolComponente r 
	inner join Componente c ON (c.id = r.idComponente)
	left join Componente padre ON (padre.id = c.idComponente)
	WHERE r.idRol = @rol
	and c.formulario = 'mainTree';
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_ROLES_SP]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_ROLES_SP]
@usr integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT r.id,r.descripcion
	FROM UsuarioRol u 
	inner join Rol r ON (r.id = u.idRol)
	WHERE u.idUsuario = @usr;
END

GO
/****** Object:  StoredProcedure [dbo].[GET_PRODUCTO_IMAGEN_SP]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_PRODUCTO_IMAGEN_SP]
@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT p.imagen1
	FROM Producto p
	where p.id = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_IDIOMAS_SP]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[LISTAR_IDIOMAS_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT i.id,i.nombre
	FROM Idioma i;
END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTOS_SP]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_PRODUCTOS_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT p.id,p.descripcion, p.imagen1, lpd.precio, lpd.idListaPrecioDetalle, lpd.idListaPrecio
	FROM Producto p
	inner join ListaPrecioDetalle lpd on lpd.idProducto = p.id 
	and lpd.baja = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[LOGIN_SP]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOGIN_SP]
@usr VARCHAR(50),
@pass VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT u.id,u.nombre, u.apellido, u.idIdioma
	FROM Usuario u 
	WHERE u.usr = @usr
	AND u.pass = @pass;
END

GO
/****** Object:  Table [dbo].[AsistenciaShowroom]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciaShowroom](
	[id] [int] NOT NULL,
	[asistio] [int] NULL,
	[fecha] [datetime] NULL,
	[cliente] [int] NULL,
 CONSTRAINT [PK_AsistenciaShowroom] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Back]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Back](
	[id] [int] NOT NULL,
	[descripcion] [text] NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Backup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id] [int] NOT NULL,
	[texto] [text] NULL,
	[idTipoEvento] [int] NULL,
	[idUsuario] [int] NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentario](
	[id] [int] NOT NULL,
	[comentario] [text] NULL,
	[idPedido] [int] NULL,
 CONSTRAINT [PK_Comentario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Componente]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Componente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [text] NOT NULL,
	[texto] [text] NOT NULL,
	[idComponente] [int] NULL,
	[pagina] [varchar](100) NULL,
	[formulario] [varchar](100) NULL,
 CONSTRAINT [PK_Componente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comprobante]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobante](
	[idTipoComprobante] [int] NULL,
	[nroComprobante] [int] NOT NULL,
	[fecha] [date] NULL,
	[total] [money] NULL,
	[letraComprobante] [text] NOT NULL,
	[sucComprobante] [int] NOT NULL,
	[idPedido] [int] NULL,
 CONSTRAINT [PK_Comprobante] PRIMARY KEY CLUSTERED 
(
	[nroComprobante] ASC,
	[sucComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComprobanteDetalle]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteDetalle](
	[id] [int] NOT NULL,
	[cantidad] [int] NULL,
	[idListaPrecioDetalle] [int] NULL,
	[nroComprobante] [int] NOT NULL,
	[sucComprobante] [int] NOT NULL,
	[letraComprobante] [text] NOT NULL,
	[idListaPrecio] [int] NULL,
 CONSTRAINT [PK_ComprobanteDetalle] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[nroComprobante] ASC,
	[sucComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilio](
	[id] [int] NOT NULL,
	[calle] [text] NULL,
	[numero] [text] NULL,
	[piso] [text] NULL,
	[dpto] [text] NULL,
	[idLocalidad] [int] NULL,
	[idUsuario] [int] NULL,
 CONSTRAINT [PK_Domicilio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [text] NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdiomaComponente]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdiomaComponente](
	[idIdioma] [int] NOT NULL,
	[idComponente] [int] NOT NULL,
	[texto] [text] NOT NULL,
 CONSTRAINT [PK_IdiomaComponente] PRIMARY KEY CLUSTERED 
(
	[idIdioma] ASC,
	[idComponente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListaPrecio]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ListaPrecio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[fechaDesde] [date] NULL,
	[fechaHasta] [date] NULL,
 CONSTRAINT [PK_ListaPrecio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ListaPrecioDetalle]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaPrecioDetalle](
	[idListaPrecio] [int] NOT NULL,
	[idListaPrecioDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NULL,
	[precio] [money] NULL,
	[baja] [int] NULL,
 CONSTRAINT [PK_ListaPrecioDetalle] PRIMARY KEY CLUSTERED 
(
	[idListaPrecio] ASC,
	[idListaPrecioDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[id] [int] NOT NULL,
	[descripcion] [text] NULL,
	[idProvincia] [int] NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id] [int] NOT NULL,
	[idUsuario] [int] NULL,
	[retiraCliente] [int] NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PedidoComprobante]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoComprobante](
	[idPedido] [int] NOT NULL,
	[nroComprobante] [int] NOT NULL,
	[letraComprobante] [text] NOT NULL,
	[sucComprobante] [int] NOT NULL,
 CONSTRAINT [PK_PedidoComprobante] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC,
	[nroComprobante] ASC,
	[sucComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PedidoListaPrecioDetalle]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoListaPrecioDetalle](
	[idListaPrecio] [int] NOT NULL,
	[idListaPrecioDetalle] [int] NOT NULL,
	[idPedido] [int] NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_PedidoListaPrecioDetalle] PRIMARY KEY CLUSTERED 
(
	[idListaPrecio] ASC,
	[idListaPrecioDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PedidoProducto]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoProducto](
	[idPedido] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_PedidoProducto] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[imagen1] [image] NULL,
	[imagen2] [image] NULL,
	[idTipoProducto] [int] NULL,
	[stock] [int] NULL,
	[stockMinimo] [int] NULL,
	[baja] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductoCompuesto]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoCompuesto](
	[id] [int] NOT NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] NOT NULL,
	[cuil] [int] NULL,
	[mail] [text] NULL,
	[direccion] [text] NULL,
	[razonSocial] [text] NULL,
	[baja] [int] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProveedorProducto]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorProducto](
	[idProducto] [int] NOT NULL,
	[idProveedor] [int] NOT NULL,
 CONSTRAINT [PK_ProveedorProducto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC,
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id] [int] NOT NULL,
	[descripcion] [text] NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rol]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RolComponente]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolComponente](
	[idRol] [int] NOT NULL,
	[idComponente] [int] NOT NULL,
 CONSTRAINT [PK_RolComponente] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC,
	[idComponente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Telefono]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono](
	[id] [int] NOT NULL,
	[idUsuario] [int] NULL,
	[numero] [int] NULL,
	[prefijo] [int] NULL,
	[interno] [bigint] NULL,
 CONSTRAINT [PK_Telefono] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoComprobante]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoComprobante](
	[id] [int] NOT NULL,
	[descripcion] [text] NULL,
 CONSTRAINT [PK_TipoComprobante] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[id] [int] NOT NULL,
	[descripcion] [text] NULL,
 CONSTRAINT [PK_TipoEvento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoProducto]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoProducto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TipoProducto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[cuil] [bigint] NULL,
	[dni] [bigint] NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[idTipoUsuario] [int] NOT NULL,
	[baja] [int] NULL,
	[usr] [varchar](50) NULL,
	[pass] [varchar](50) NULL,
	[idIdioma] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 23/08/2015 18:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[idUsuario] [int] NOT NULL,
	[idRol] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Componente] ON 

INSERT [dbo].[Componente] ([id], [nombre], [texto], [idComponente], [pagina], [formulario]) VALUES (1, N'proveedor', N'Proveedor', NULL, NULL, N'mainTree')
INSERT [dbo].[Componente] ([id], [nombre], [texto], [idComponente], [pagina], [formulario]) VALUES (2, N'producto', N'Productos', NULL, NULL, N'mainTree')
INSERT [dbo].[Componente] ([id], [nombre], [texto], [idComponente], [pagina], [formulario]) VALUES (4, N'pedidos', N'Pedidos', NULL, NULL, N'mainTree')
SET IDENTITY_INSERT [dbo].[Componente] OFF
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([id], [nombre]) VALUES (1, N'Español')
INSERT [dbo].[Idioma] ([id], [nombre]) VALUES (2, N'Ingles')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
INSERT [dbo].[IdiomaComponente] ([idIdioma], [idComponente], [texto]) VALUES (1, 1, N'Proveedor')
INSERT [dbo].[IdiomaComponente] ([idIdioma], [idComponente], [texto]) VALUES (1, 2, N'Productos')
INSERT [dbo].[IdiomaComponente] ([idIdioma], [idComponente], [texto]) VALUES (1, 4, N'Pedidos')
SET IDENTITY_INSERT [dbo].[ListaPrecio] ON 

INSERT [dbo].[ListaPrecio] ([id], [descripcion], [fechaDesde], [fechaHasta]) VALUES (1, N'vigente', CAST(N'2014-01-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[ListaPrecio] OFF
SET IDENTITY_INSERT [dbo].[ListaPrecioDetalle] ON 

INSERT [dbo].[ListaPrecioDetalle] ([idListaPrecio], [idListaPrecioDetalle], [idProducto], [precio], [baja]) VALUES (1, 1, 1, 5000.0000, 0)
INSERT [dbo].[ListaPrecioDetalle] ([idListaPrecio], [idListaPrecioDetalle], [idProducto], [precio], [baja]) VALUES (1, 2, 2, 6000.0000, 0)
INSERT [dbo].[ListaPrecioDetalle] ([idListaPrecio], [idListaPrecioDetalle], [idProducto], [precio], [baja]) VALUES (1, 3, 3, 7000.0000, 0)
SET IDENTITY_INSERT [dbo].[ListaPrecioDetalle] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id], [descripcion]) VALUES (1, N'Admin')
INSERT [dbo].[Rol] ([id], [descripcion]) VALUES (2, N'Usr')
SET IDENTITY_INSERT [dbo].[Rol] OFF
INSERT [dbo].[RolComponente] ([idRol], [idComponente]) VALUES (1, 1)
INSERT [dbo].[RolComponente] ([idRol], [idComponente]) VALUES (1, 2)
INSERT [dbo].[RolComponente] ([idRol], [idComponente]) VALUES (1, 4)
SET IDENTITY_INSERT [dbo].[TipoProducto] ON 

INSERT [dbo].[TipoProducto] ([id], [descripcion]) VALUES (1, N'Final')
INSERT [dbo].[TipoProducto] ([id], [descripcion]) VALUES (2, N'Materia Prima')
SET IDENTITY_INSERT [dbo].[TipoProducto] OFF
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON 

INSERT [dbo].[TipoUsuario] ([id], [descripcion]) VALUES (1, N'Cliente')
INSERT [dbo].[TipoUsuario] ([id], [descripcion]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombre], [apellido], [cuil], [dni], [mail], [idTipoUsuario], [baja], [usr], [pass], [idIdioma]) VALUES (2, N'jose', N'gonzalez', 0, 0, N'pepe@coco.com', 1, 0, N'jose', N'pepe', 1)
INSERT [dbo].[Usuario] ([id], [nombre], [apellido], [cuil], [dni], [mail], [idTipoUsuario], [baja], [usr], [pass], [idIdioma]) VALUES (3, N'admin', N'admin', 0, 0, N'admin@admin.com', 2, 0, N'admin', N'admin', 2)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
INSERT [dbo].[UsuarioRol] ([idUsuario], [idRol]) VALUES (2, 2)
INSERT [dbo].[UsuarioRol] ([idUsuario], [idRol]) VALUES (3, 1)
ALTER TABLE [dbo].[AsistenciaShowroom]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaShowroom_Usuario] FOREIGN KEY([cliente])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[AsistenciaShowroom] CHECK CONSTRAINT [FK_AsistenciaShowroom_Usuario]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_TipoEvento] FOREIGN KEY([idTipoEvento])
REFERENCES [dbo].[TipoEvento] ([id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_TipoEvento]
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [FK_Comentario_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_Comentario_Pedido]
GO
ALTER TABLE [dbo].[Componente]  WITH CHECK ADD  CONSTRAINT [FK_Componente_Componente] FOREIGN KEY([idComponente])
REFERENCES [dbo].[Componente] ([id])
GO
ALTER TABLE [dbo].[Componente] CHECK CONSTRAINT [FK_Componente_Componente]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_TipoComprobante] FOREIGN KEY([idTipoComprobante])
REFERENCES [dbo].[TipoComprobante] ([id])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_TipoComprobante]
GO
ALTER TABLE [dbo].[ComprobanteDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteDetalle_Comprobante] FOREIGN KEY([nroComprobante], [sucComprobante])
REFERENCES [dbo].[Comprobante] ([nroComprobante], [sucComprobante])
GO
ALTER TABLE [dbo].[ComprobanteDetalle] CHECK CONSTRAINT [FK_ComprobanteDetalle_Comprobante]
GO
ALTER TABLE [dbo].[ComprobanteDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteDetalle_ListaPrecioDetalle] FOREIGN KEY([idListaPrecio], [idListaPrecioDetalle])
REFERENCES [dbo].[ListaPrecioDetalle] ([idListaPrecio], [idListaPrecioDetalle])
GO
ALTER TABLE [dbo].[ComprobanteDetalle] CHECK CONSTRAINT [FK_ComprobanteDetalle_ListaPrecioDetalle]
GO
ALTER TABLE [dbo].[Domicilio]  WITH CHECK ADD  CONSTRAINT [FK_Domicilio_Localidad] FOREIGN KEY([idLocalidad])
REFERENCES [dbo].[Localidad] ([id])
GO
ALTER TABLE [dbo].[Domicilio] CHECK CONSTRAINT [FK_Domicilio_Localidad]
GO
ALTER TABLE [dbo].[Domicilio]  WITH CHECK ADD  CONSTRAINT [FK_Domicilio_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Domicilio] CHECK CONSTRAINT [FK_Domicilio_Usuario]
GO
ALTER TABLE [dbo].[IdiomaComponente]  WITH CHECK ADD  CONSTRAINT [FK_IdiomaComponente_Componente] FOREIGN KEY([idComponente])
REFERENCES [dbo].[Componente] ([id])
GO
ALTER TABLE [dbo].[IdiomaComponente] CHECK CONSTRAINT [FK_IdiomaComponente_Componente]
GO
ALTER TABLE [dbo].[IdiomaComponente]  WITH CHECK ADD  CONSTRAINT [FK_IdiomaComponente_Idioma] FOREIGN KEY([idIdioma])
REFERENCES [dbo].[Idioma] ([id])
GO
ALTER TABLE [dbo].[IdiomaComponente] CHECK CONSTRAINT [FK_IdiomaComponente_Idioma]
GO
ALTER TABLE [dbo].[ListaPrecioDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ListaPrecioDetalle_ListaPrecio] FOREIGN KEY([idListaPrecio])
REFERENCES [dbo].[ListaPrecio] ([id])
GO
ALTER TABLE [dbo].[ListaPrecioDetalle] CHECK CONSTRAINT [FK_ListaPrecioDetalle_ListaPrecio]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([id])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
ALTER TABLE [dbo].[PedidoComprobante]  WITH CHECK ADD  CONSTRAINT [FK_PedidoComprobante_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[PedidoComprobante] CHECK CONSTRAINT [FK_PedidoComprobante_Pedido]
GO
ALTER TABLE [dbo].[PedidoListaPrecioDetalle]  WITH CHECK ADD  CONSTRAINT [FK_PedidoListaPrecioDetalle_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[PedidoListaPrecioDetalle] CHECK CONSTRAINT [FK_PedidoListaPrecioDetalle_Pedido]
GO
ALTER TABLE [dbo].[PedidoProducto]  WITH CHECK ADD  CONSTRAINT [FK_PedidoProducto_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[PedidoProducto] CHECK CONSTRAINT [FK_PedidoProducto_Pedido]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_TipoProducto] FOREIGN KEY([idTipoProducto])
REFERENCES [dbo].[TipoProducto] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_TipoProducto]
GO
ALTER TABLE [dbo].[ProveedorProducto]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorProducto_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[ProveedorProducto] CHECK CONSTRAINT [FK_ProveedorProducto_Producto]
GO
ALTER TABLE [dbo].[ProveedorProducto]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorProducto_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[ProveedorProducto] CHECK CONSTRAINT [FK_ProveedorProducto_Proveedor]
GO
ALTER TABLE [dbo].[RolComponente]  WITH CHECK ADD  CONSTRAINT [FK_RolComponente_Componente] FOREIGN KEY([idComponente])
REFERENCES [dbo].[Componente] ([id])
GO
ALTER TABLE [dbo].[RolComponente] CHECK CONSTRAINT [FK_RolComponente_Componente]
GO
ALTER TABLE [dbo].[RolComponente]  WITH CHECK ADD  CONSTRAINT [FK_RolComponente_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([id])
GO
ALTER TABLE [dbo].[RolComponente] CHECK CONSTRAINT [FK_RolComponente_Rol]
GO
ALTER TABLE [dbo].[Telefono]  WITH CHECK ADD  CONSTRAINT [FK_Telefono_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Telefono] CHECK CONSTRAINT [FK_Telefono_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([idIdioma])
REFERENCES [dbo].[Idioma] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([idTipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
USE [master]
GO
