USE [master]
GO
/****** Object:  Database [Muebla]    Script Date: 27/09/2015 09:26:07 p.m. ******/
CREATE DATABASE [Muebla]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Muebla', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Muebla.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Muebla_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Muebla_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Muebla].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Muebla]
GO
/****** Object:  User [IIS APPPOOL\Muebla]    Script Date: 27/09/2015 09:26:08 p.m. ******/
CREATE USER [IIS APPPOOL\Muebla] FOR LOGIN [IIS APPPOOL\Muebla] WITH DEFAULT_SCHEMA=[IIS APPPOOL\Muebla]
GO
/****** Object:  Schema [IIS APPPOOL\Muebla]    Script Date: 27/09/2015 09:26:08 p.m. ******/
CREATE SCHEMA [IIS APPPOOL\Muebla]
GO
/****** Object:  StoredProcedure [dbo].[ALTA_CLIENTE_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_CLIENTE_SP]
@usr VARCHAR(50),
@mail VARCHAR(50),
@nom VARCHAR(50),
@ape VARCHAR(50),
@pass VARCHAR(50),
@dni VARCHAR(50),
@cuil VARCHAR(50),
@tipo integer

AS
declare @id int;
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	INSERT INTO Usuario (apellido,nombre,baja,cuil, dni, idIdioma,idTipoUsuario,mail, usr, pass,idTipoDocumento )
	values(@ape,@nom,0,@cuil,@dni,1,2,@mail,@usr,@pass,@tipo);

	set @id = SCOPE_IDENTITY();

	insert into UsuarioRol(idUsuario,idRol) values (@id,2);
	return @id
END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_DOMICILIO_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_DOMICILIO_SP]
@usr integer,
@calle VARCHAR(50),
@nro VARCHAR(50),
@piso VARCHAR(50),
@dpto VARCHAR(50),
@loc integer

AS
declare @id int;
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	INSERT INTO Domicilio(calle,dpto,idLocalidad,idUsuario , numero,piso)
	values(@calle,@dpto,@loc,@usr,@nro,@piso);

	set @id = SCOPE_IDENTITY();
	return @id
END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_LOG_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_LOG_SP]
@usr integer,
@evento integer
AS
declare @id int;
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

		
    -- Insert statements for procedure here
	insert into Bitacora (codigoEvento, fecha, idUsuario) values (@evento,GETDATE(),@usr);
	set @id = SCOPE_IDENTITY();

	return @id
END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_PRODUCTO_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_PRODUCTO_SP]
@des VARCHAR(50),
@tipo INTEGER,
@sto INTEGER,
@stomin INTEGER,
@prov INTEGER,
@img varbinary(max)
AS
declare @id int;
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	INSERT INTO producto (baja,descripcion,idTipoProducto,stock,stockMinimo,imagen1)
	values(0,@des,@tipo,@sto,@stomin,@img);

	set @id = SCOPE_IDENTITY();

	return @id
END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_PROVEEDOR_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ALTA_PROVEEDOR_SP]
@raz VARCHAR(50),
@mail VARCHAR(50),
@tel VARCHAR(50),
@cuit VARCHAR(50),
@dir VARCHAR(50)

AS
declare @id int;
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	INSERT INTO Proveedor(baja,cuil,direccion,mail, razonSocial)
	values(0,@cuit,@dir,@mail,@raz);

	set @id = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_TELEFONO_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTA_TELEFONO_SP]
@usr integer,
@num VARCHAR(50),
@int VARCHAR(50),
@pre VARCHAR(50)

/*
repository.addParam("@usr", usr.id)
        repository.addParam("@num", usr.telefono.numero)
        repository.addParam("@int", usr.telefono.interno)
        repository.addParam("@pre", usr.telefono.prefijo)
*/
AS
declare @id int;
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	INSERT INTO Telefono(idUsuario,interno,numero,prefijo)
	values(@usr,@int,@num,@pre);

	set @id = SCOPE_IDENTITY();
	return @id
END

GO
/****** Object:  StoredProcedure [dbo].[BAJA_PRODUCTO_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BAJA_PRODUCTO_SP]
@id integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	update Producto set baja = 1 where id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_BACKUP_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_BACKUP_SP]
@id integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT r.id, r.pathh, r.descripcion, r.fecha
	FROM Resguardo r
	where r.id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_BITACORAS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_BITACORAS_SP]
@desde date,
@hasta date,
@usr varchar,
@tipo int,
@idioma int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT b.id,'',u.id,u.usr,te.id, ite.texto, ite.codigoEvento, b.fecha
	FROM Bitacora b 
	inner join TipoEvento te on b.codigoEvento = te.codigo
	inner join IdiomaTipoEvento ite on te.codigo = ite.codigoEvento
	inner join Usuario u on u.id = b.idUsuario
	where (@desde = '01/01/2500' or @desde <= b.fecha)   
	and (@hasta = '01/01/2500' or  b.fecha <= @hasta ) 
	and (@tipo = 0 or @tipo = te.codigo)
	and (@usr is null or u.usr like '%' + @usr + '%')
	and ite.idIdioma = @idioma ;
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_EXCEPCION_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_EXCEPCION_SP]
@cod integer,
@idioma integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT ie.texto
	from excepcion e
	inner join idiomaExcepcion ie on ie.idExcepcion = e.id
	where @cod = e.codigo
	and @idioma = ie.idIdioma;
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_IDIOMA_COMPONENTE_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_IDIOMA_COMPONENTE_SP]
@idioma integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT c.id,c.nombre,i.texto,c.pagina, c.formulario
	FROM IdiomaComponente i 
	inner join Componente c ON (c.id = i.idComponente)
	WHERE i.idIdioma = @idioma;
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_LOCALIDADES_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[BUSCAR_LOCALIDADES_SP]
@prov integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT l.id, l.descripcion, l.idProvincia
	FROM Localidad l 
	where l.idProvincia = @prov;
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_PERMISOS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_PERMISOS_SP]
@rol integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT c.id,c.nombre,c.texto,c.pagina,padre.id,padre.texto, c.formulario
	FROM RolComponente r 
	inner join Componente c ON (c.id = r.idComponente)
	left join Componente padre ON (padre.id = c.idComponente)
	WHERE r.idRol = @rol
	and c.formulario = 'mainTree';
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_PRODUCTO_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_PRODUCTO_SP]
@id integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT p.id, p.descripcion, t.id, t.descripcion
	FROM Producto p 
	inner join TipoProducto t on p.idTipoProducto = t.id
	WHERE (@id = p.id);
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_PRODUCTOS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_PRODUCTOS_SP]
@tipo integer,
@nom VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT p.id, p.descripcion, t.id, t.descripcion
	FROM Producto p 
	inner join TipoProducto t on p.idTipoProducto = t.id
	WHERE (@tipo = 0 or @tipo = t.id)
	AND (@nom is null or p.descripcion like '%' + @nom + '%');
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_ROLES_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_ROLES_SP]
@usr integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT r.id,r.descripcion
	FROM UsuarioRol u 
	inner join Rol r ON (r.id = u.idRol)
	WHERE u.idUsuario = @usr;
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_TRADUCCION_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_TRADUCCION_SP]
@comp varchar(50),
@idioma integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT traduccion.texto
	FROM IdiomaComponente original
	inner join Componente c ON (c.id = original.idComponente)
	inner join IdiomaComponente traduccion on (traduccion.idComponente = c.id)
	WHERE original.texto like @comp
	and traduccion.idIdioma = @idioma;
END

GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_USUARIOS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR_USUARIOS_SP]
@usr VARCHAR(50),
@mail VARCHAR(50),
@tipo integer
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT u.id,u.nombre, u.apellido, u.usr, t.id, t.descripcion,u.activo, u.mail
	FROM Usuario u 
	inner join TipoUsuario t on t.id = u.idTipoUsuario
	WHERE (@usr is null or u.usr like '%' + @usr + '%')
	AND (@mail is null or u.mail like '%' + @mail + '%')
	and (@tipo = 0 or @tipo = u.idTipoUsuario);
END

GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_PERMISOS_USUARIO_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_PERMISOS_USUARIO_SP]
@id integer

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	delete from UsuarioRol where idUsuario = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[GET_PRODUCTO_IMAGEN_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_PRODUCTO_IMAGEN_SP]
@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT p.imagen1
	FROM Producto p
	where p.id = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_BACKUP_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_BACKUP_SP]
@path VARCHAR(50),
@descripcion VARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	INSERT INTO Resguardo(pathh,descripcion, fecha)
	values(@path,@descripcion, GETDATE());

END

GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PERMISOS_USUARIO_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PERMISOS_USUARIO_SP]
@id integer,
@rol integer

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	insert into UsuarioRol (idRol,idUsuario) values (@rol,@id);
END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_BACKUPS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_BACKUPS_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT r.id, r.pathh, r.descripcion, r.fecha
	FROM Resguardo r;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_IDIOMAS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[LISTAR_IDIOMAS_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT i.id,i.nombre
	FROM Idioma i;
END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTOS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_PRODUCTOS_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT p.id,p.descripcion, p.imagen1, lpd.precio, lpd.idListaPrecioDetalle, lpd.idListaPrecio
	FROM Producto p
	inner join ListaPrecioDetalle lpd on lpd.idProducto = p.id 
	and lpd.baja = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PROVEEDORES_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_PROVEEDORES_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT t.id, t.razonSocial
	from Proveedor t;
END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PROVINCIAS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[LISTAR_PROVINCIAS_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT t.id, t.descripcion
	from Provincia t;
END

GO
/****** Object:  StoredProcedure [dbo].[listar_ROLES_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[listar_ROLES_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT r.id,r.descripcion
	FROM Rol r;
END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_TIPO_EVENTOS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_TIPO_EVENTOS_SP]
@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT Te.id, ite.texto, te.codigo
	FROM TipoEvento te
	inner join IdiomaTipoEvento ite on ite.codigoEvento = te.codigo and ite.idIdioma = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_TIPO_PRODUCTOS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_TIPO_PRODUCTOS_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT t.id, t.descripcion
	from TipoProducto t;
END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_TIPOS_DOCUMENTOS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[LISTAR_TIPOS_DOCUMENTOS_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT t.id, t.descripcion
	from tIPOdOCUMENTO t;
END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_TIPOS_USUARIOS_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_TIPOS_USUARIOS_SP]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT t.id, t.descripcion
	from TipoUsuario t;
END

GO
/****** Object:  StoredProcedure [dbo].[LOGIN_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOGIN_SP]
@usr VARCHAR(50),
@pass VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT u.id,u.nombre, u.apellido, u.idIdioma
	FROM Usuario u 
	WHERE u.usr = @usr
	AND u.pass = @pass;
END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_TRADUCCION_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_TRADUCCION_SP]
@id integer,
@texto VARCHAR(50),
@idIdioma integer

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	update IdiomaComponente set texto = @texto where idComponente = @id and idIdioma = @idIdioma;
END

GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_USUARIO_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODIFICAR_USUARIO_SP]
@id integer,
@est integer

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	update Usuario set activo = @est where id = @id;
END

GO
/****** Object:  StoredProcedure [dbo].[SOLICITAR_CONTRASENA_SP]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SOLICITAR_CONTRASENA_SP]
@mail VARCHAR(50),
@usr VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;

    -- Insert statements for procedure here
	SELECT u.pass
	FROM Usuario u 
	WHERE u.usr = @usr
	AND u.mail = @mail;
END

GO
/****** Object:  Table [dbo].[AsistenciaShowroom]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciaShowroom](
	[id] [int] NOT NULL,
	[asistio] [int] NULL,
	[fecha] [datetime] NULL,
	[cliente] [int] NULL,
 CONSTRAINT [PK_AsistenciaShowroom] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Back]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Back](
	[id] [int] NOT NULL,
	[descripcion] [text] NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Backup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigoEvento] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentario](
	[id] [int] NOT NULL,
	[comentario] [text] NULL,
	[idPedido] [int] NULL,
 CONSTRAINT [PK_Comentario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Componente]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Componente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[texto] [varchar](50) NOT NULL,
	[idComponente] [int] NULL,
	[pagina] [varchar](100) NULL,
	[formulario] [varchar](100) NULL,
 CONSTRAINT [PK_Componente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comprobante]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobante](
	[idTipoComprobante] [int] NULL,
	[nroComprobante] [int] NOT NULL,
	[fecha] [date] NULL,
	[total] [money] NULL,
	[letraComprobante] [text] NOT NULL,
	[sucComprobante] [int] NOT NULL,
	[idPedido] [int] NULL,
 CONSTRAINT [PK_Comprobante] PRIMARY KEY CLUSTERED 
(
	[nroComprobante] ASC,
	[sucComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComprobanteDetalle]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteDetalle](
	[id] [int] NOT NULL,
	[cantidad] [int] NULL,
	[idListaPrecioDetalle] [int] NULL,
	[nroComprobante] [int] NOT NULL,
	[sucComprobante] [int] NOT NULL,
	[letraComprobante] [text] NOT NULL,
	[idListaPrecio] [int] NULL,
 CONSTRAINT [PK_ComprobanteDetalle] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[nroComprobante] ASC,
	[sucComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[calle] [text] NULL,
	[numero] [text] NULL,
	[piso] [text] NULL,
	[dpto] [text] NULL,
	[idLocalidad] [int] NULL,
	[idUsuario] [int] NULL,
 CONSTRAINT [PK_Domicilio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Excepcion]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Excepcion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [int] NOT NULL,
 CONSTRAINT [PK_Excepcion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [text] NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdiomaComponente]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IdiomaComponente](
	[idIdioma] [int] NOT NULL,
	[idComponente] [int] NOT NULL,
	[texto] [varchar](70) NOT NULL,
 CONSTRAINT [PK_IdiomaComponente] PRIMARY KEY CLUSTERED 
(
	[idIdioma] ASC,
	[idComponente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IdiomaExcepcion]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IdiomaExcepcion](
	[idExcepcion] [int] NOT NULL,
	[idIdioma] [int] NOT NULL,
	[texto] [varchar](100) NOT NULL,
 CONSTRAINT [PK_IdiomaExcepcion] PRIMARY KEY CLUSTERED 
(
	[idExcepcion] ASC,
	[idIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IdiomaTipoEvento]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IdiomaTipoEvento](
	[idIdioma] [int] NOT NULL,
	[codigoEvento] [int] NOT NULL,
	[texto] [varchar](200) NOT NULL,
 CONSTRAINT [PK_IdiomaTipoEvento] PRIMARY KEY CLUSTERED 
(
	[idIdioma] ASC,
	[codigoEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ListaPrecio]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ListaPrecio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[fechaDesde] [date] NULL,
	[fechaHasta] [date] NULL,
 CONSTRAINT [PK_ListaPrecio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ListaPrecioDetalle]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaPrecioDetalle](
	[idListaPrecio] [int] NOT NULL,
	[idListaPrecioDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NULL,
	[precio] [money] NULL,
	[baja] [int] NULL,
 CONSTRAINT [PK_ListaPrecioDetalle] PRIMARY KEY CLUSTERED 
(
	[idListaPrecio] ASC,
	[idListaPrecioDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
	[idProvincia] [int] NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id] [int] NOT NULL,
	[idUsuario] [int] NULL,
	[retiraCliente] [int] NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PedidoComprobante]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoComprobante](
	[idPedido] [int] NOT NULL,
	[nroComprobante] [int] NOT NULL,
	[letraComprobante] [text] NOT NULL,
	[sucComprobante] [int] NOT NULL,
 CONSTRAINT [PK_PedidoComprobante] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC,
	[nroComprobante] ASC,
	[sucComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PedidoListaPrecioDetalle]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoListaPrecioDetalle](
	[idListaPrecio] [int] NOT NULL,
	[idListaPrecioDetalle] [int] NOT NULL,
	[idPedido] [int] NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_PedidoListaPrecioDetalle] PRIMARY KEY CLUSTERED 
(
	[idListaPrecio] ASC,
	[idListaPrecioDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PedidoProducto]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoProducto](
	[idPedido] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_PedidoProducto] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[imagen1] [image] NULL,
	[imagen2] [image] NULL,
	[idTipoProducto] [int] NULL,
	[stock] [int] NULL,
	[stockMinimo] [int] NULL,
	[baja] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductoCompuesto]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoCompuesto](
	[id] [int] NOT NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cuil] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[razonSocial] [varchar](50) NULL,
	[baja] [int] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProveedorProducto]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorProducto](
	[idProducto] [int] NOT NULL,
	[idProveedor] [int] NOT NULL,
 CONSTRAINT [PK_ProveedorProducto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC,
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resguardo]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Resguardo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pathh] [varchar](200) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK_Backup_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [text] NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RolComponente]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolComponente](
	[idRol] [int] NOT NULL,
	[idComponente] [int] NOT NULL,
 CONSTRAINT [PK_RolComponente] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC,
	[idComponente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Telefono]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Telefono](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NULL,
	[numero] [varchar](50) NULL,
	[prefijo] [varchar](50) NULL,
	[interno] [varchar](50) NULL,
 CONSTRAINT [PK_Telefono] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoComprobante]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoComprobante](
	[id] [int] NOT NULL,
	[descripcion] [text] NULL,
 CONSTRAINT [PK_TipoComprobante] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoDocumento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [int] NOT NULL,
 CONSTRAINT [PK_TipoEvento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoProducto]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoProducto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TipoProducto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[cuil] [bigint] NULL,
	[dni] [bigint] NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[idTipoUsuario] [int] NOT NULL,
	[activo] [int] NULL,
	[usr] [varchar](50) NULL,
	[pass] [varchar](50) NULL,
	[idIdioma] [int] NULL,
	[idTipoDocumento] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 27/09/2015 09:26:08 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[idUsuario] [int] NOT NULL,
	[idRol] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([id], [codigoEvento], [idUsuario], [fecha]) VALUES (1, 1, 3, CAST(N'2015-09-12 18:46:41.500' AS DateTime))
INSERT [dbo].[Bitacora] ([id], [codigoEvento], [idUsuario], [fecha]) VALUES (2, 1, 3, CAST(N'2015-09-12 18:49:13.807' AS DateTime))
INSERT [dbo].[Bitacora] ([id], [codigoEvento], [idUsuario], [fecha]) VALUES (3, 1, 3, CAST(N'2015-09-12 18:49:19.427' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
SET IDENTITY_INSERT [dbo].[Componente] ON 

INSERT [dbo].[Componente] ([id], [nombre], [texto], [idComponente], [pagina], [formulario]) VALUES (1, N'proveedor', N'Proveedor', NULL, NULL, N'mainTree')
INSERT [dbo].[Componente] ([id], [nombre], [texto], [idComponente], [pagina], [formulario]) VALUES (2, N'producto', N'Productos', NULL, NULL, N'mainTree')
INSERT [dbo].[Componente] ([id], [nombre], [texto], [idComponente], [pagina], [formulario]) VALUES (4, N'pedidos', N'Pedidos', NULL, NULL, N'mainTree')
SET IDENTITY_INSERT [dbo].[Componente] OFF
SET IDENTITY_INSERT [dbo].[Domicilio] ON 

INSERT [dbo].[Domicilio] ([id], [calle], [numero], [piso], [dpto], [idLocalidad], [idUsuario]) VALUES (2, N'Cucha Cucha', N'1234', N'1', N'1', 1, 7)
SET IDENTITY_INSERT [dbo].[Domicilio] OFF
SET IDENTITY_INSERT [dbo].[Excepcion] ON 

INSERT [dbo].[Excepcion] ([id], [codigo]) VALUES (1, 1)
INSERT [dbo].[Excepcion] ([id], [codigo]) VALUES (2, 2)
INSERT [dbo].[Excepcion] ([id], [codigo]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Excepcion] OFF
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([id], [nombre]) VALUES (1, N'Español')
INSERT [dbo].[Idioma] ([id], [nombre]) VALUES (2, N'Ingles')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
INSERT [dbo].[IdiomaComponente] ([idIdioma], [idComponente], [texto]) VALUES (1, 1, N'Proveedor')
INSERT [dbo].[IdiomaComponente] ([idIdioma], [idComponente], [texto]) VALUES (1, 2, N'Productos')
INSERT [dbo].[IdiomaComponente] ([idIdioma], [idComponente], [texto]) VALUES (1, 4, N'Pedidos')
GO
INSERT [dbo].[IdiomaExcepcion] ([idExcepcion], [idIdioma], [texto]) VALUES (1, 1, N'Conexion BD Fallida')
INSERT [dbo].[IdiomaExcepcion] ([idExcepcion], [idIdioma], [texto]) VALUES (1, 2, N'Falied DB Conection')
INSERT [dbo].[IdiomaExcepcion] ([idExcepcion], [idIdioma], [texto]) VALUES (2, 1, N'Busqueda Sin resultados')
INSERT [dbo].[IdiomaTipoEvento] ([idIdioma], [codigoEvento], [texto]) VALUES (1, 1, N'Logueo Exitoso')
INSERT [dbo].[IdiomaTipoEvento] ([idIdioma], [codigoEvento], [texto]) VALUES (1, 2, N'Logout Exitoso')
INSERT [dbo].[IdiomaTipoEvento] ([idIdioma], [codigoEvento], [texto]) VALUES (1, 3, N'Modificacion Usuario')
SET IDENTITY_INSERT [dbo].[ListaPrecio] ON 

INSERT [dbo].[ListaPrecio] ([id], [descripcion], [fechaDesde], [fechaHasta]) VALUES (1, N'vigente', CAST(N'2014-01-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[ListaPrecio] OFF
SET IDENTITY_INSERT [dbo].[ListaPrecioDetalle] ON 

INSERT [dbo].[ListaPrecioDetalle] ([idListaPrecio], [idListaPrecioDetalle], [idProducto], [precio], [baja]) VALUES (1, 1, 1, 5000.0000, 0)
INSERT [dbo].[ListaPrecioDetalle] ([idListaPrecio], [idListaPrecioDetalle], [idProducto], [precio], [baja]) VALUES (1, 2, 2, 6000.0000, 0)
INSERT [dbo].[ListaPrecioDetalle] ([idListaPrecio], [idListaPrecioDetalle], [idProducto], [precio], [baja]) VALUES (1, 3, 3, 7000.0000, 0)
SET IDENTITY_INSERT [dbo].[ListaPrecioDetalle] OFF
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([id], [descripcion], [idProvincia]) VALUES (1, N'CABA', 1)
INSERT [dbo].[Localidad] ([id], [descripcion], [idProvincia]) VALUES (2, N'La Matanza', 2)
INSERT [dbo].[Localidad] ([id], [descripcion], [idProvincia]) VALUES (3, N'3 de Febrero', 2)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([id], [cuil], [mail], [direccion], [razonSocial], [baja]) VALUES (1, N'300000001', N'javiermartingonzalez@gmail.com', N'Av Alberdi 3450', N'Mega Maderera', 0)
INSERT [dbo].[Proveedor] ([id], [cuil], [mail], [direccion], [razonSocial], [baja]) VALUES (2, N'300000002', N'javiermartingonzalez@gmail.com', N'Av. Juan b Justo 2345', N'TelasLocasSACICI', 0)
INSERT [dbo].[Proveedor] ([id], [cuil], [mail], [direccion], [razonSocial], [baja]) VALUES (3, N'2000000000', N'superfundas@gmail.com', N'Avenida Libertador 1000', N'SuperFund', 0)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([id], [descripcion]) VALUES (1, N'CABA')
INSERT [dbo].[Provincia] ([id], [descripcion]) VALUES (2, N'Buenos Aires')
INSERT [dbo].[Provincia] ([id], [descripcion]) VALUES (3, N'Entre Rios')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET IDENTITY_INSERT [dbo].[Resguardo] ON 

INSERT [dbo].[Resguardo] ([id], [pathh], [descripcion], [fecha]) VALUES (1, N'C:\\Prueba\\Muebla1-9-2015-15-2-49.sql', N'pepe', NULL)
INSERT [dbo].[Resguardo] ([id], [pathh], [descripcion], [fecha]) VALUES (2, N'C:\\Prueba\\Muebla1-9-2015-15-6-0.sql', N'probando 2', NULL)
INSERT [dbo].[Resguardo] ([id], [pathh], [descripcion], [fecha]) VALUES (3, N'C:\\Prueba\\Muebla1-9-2015-15-11-38.sql', N'coco', NULL)
SET IDENTITY_INSERT [dbo].[Resguardo] OFF
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id], [descripcion]) VALUES (1, N'Admin')
INSERT [dbo].[Rol] ([id], [descripcion]) VALUES (2, N'Usr')
INSERT [dbo].[Rol] ([id], [descripcion]) VALUES (3, N'Ventas')
SET IDENTITY_INSERT [dbo].[Rol] OFF
INSERT [dbo].[RolComponente] ([idRol], [idComponente]) VALUES (1, 1)
INSERT [dbo].[RolComponente] ([idRol], [idComponente]) VALUES (1, 2)
INSERT [dbo].[RolComponente] ([idRol], [idComponente]) VALUES (1, 4)
SET IDENTITY_INSERT [dbo].[Telefono] ON 

INSERT [dbo].[Telefono] ([id], [idUsuario], [numero], [prefijo], [interno]) VALUES (2, 7, N'1535535353', N'1', N'1')
SET IDENTITY_INSERT [dbo].[Telefono] OFF
SET IDENTITY_INSERT [dbo].[TipoDocumento] ON 

INSERT [dbo].[TipoDocumento] ([id], [descripcion]) VALUES (1, N'DNI')
INSERT [dbo].[TipoDocumento] ([id], [descripcion]) VALUES (2, N'CI')
INSERT [dbo].[TipoDocumento] ([id], [descripcion]) VALUES (3, N'LE')
SET IDENTITY_INSERT [dbo].[TipoDocumento] OFF
SET IDENTITY_INSERT [dbo].[TipoEvento] ON 

INSERT [dbo].[TipoEvento] ([id], [codigo]) VALUES (1, 1)
INSERT [dbo].[TipoEvento] ([id], [codigo]) VALUES (2, 2)
INSERT [dbo].[TipoEvento] ([id], [codigo]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[TipoEvento] OFF
SET IDENTITY_INSERT [dbo].[TipoProducto] ON 

INSERT [dbo].[TipoProducto] ([id], [descripcion]) VALUES (1, N'Final')
INSERT [dbo].[TipoProducto] ([id], [descripcion]) VALUES (2, N'Materia Prima')
SET IDENTITY_INSERT [dbo].[TipoProducto] OFF
SET IDENTITY_INSERT [dbo].[TipoUsuario] ON 

INSERT [dbo].[TipoUsuario] ([id], [descripcion]) VALUES (1, N'Cliente')
INSERT [dbo].[TipoUsuario] ([id], [descripcion]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[TipoUsuario] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombre], [apellido], [cuil], [dni], [mail], [idTipoUsuario], [activo], [usr], [pass], [idIdioma], [idTipoDocumento]) VALUES (2, N'jose', N'gonzalez', 0, 0, N'javiermartingonzalez@gmail.com', 1, 0, N'jose', N'pepe', 1, 1)
INSERT [dbo].[Usuario] ([id], [nombre], [apellido], [cuil], [dni], [mail], [idTipoUsuario], [activo], [usr], [pass], [idIdioma], [idTipoDocumento]) VALUES (3, N'admin', N'admin', 0, 0, N'javiermartingonzalez@gmail.com', 2, 1, N'admin', N'admin', 2, 1)
INSERT [dbo].[Usuario] ([id], [nombre], [apellido], [cuil], [dni], [mail], [idTipoUsuario], [activo], [usr], [pass], [idIdioma], [idTipoDocumento]) VALUES (7, N'Victoria', N'Di Giorgio', 20222222223, 2200000, N'victoriadigiorgio@gmail.com', 2, 1, N'bubia', N'bubia', 1, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
INSERT [dbo].[UsuarioRol] ([idUsuario], [idRol]) VALUES (2, 1)
INSERT [dbo].[UsuarioRol] ([idUsuario], [idRol]) VALUES (2, 2)
INSERT [dbo].[UsuarioRol] ([idUsuario], [idRol]) VALUES (3, 1)
ALTER TABLE [dbo].[AsistenciaShowroom]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaShowroom_Usuario] FOREIGN KEY([cliente])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[AsistenciaShowroom] CHECK CONSTRAINT [FK_AsistenciaShowroom_Usuario]
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [FK_Comentario_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_Comentario_Pedido]
GO
ALTER TABLE [dbo].[Componente]  WITH CHECK ADD  CONSTRAINT [FK_Componente_Componente] FOREIGN KEY([idComponente])
REFERENCES [dbo].[Componente] ([id])
GO
ALTER TABLE [dbo].[Componente] CHECK CONSTRAINT [FK_Componente_Componente]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_TipoComprobante] FOREIGN KEY([idTipoComprobante])
REFERENCES [dbo].[TipoComprobante] ([id])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_TipoComprobante]
GO
ALTER TABLE [dbo].[ComprobanteDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteDetalle_Comprobante] FOREIGN KEY([nroComprobante], [sucComprobante])
REFERENCES [dbo].[Comprobante] ([nroComprobante], [sucComprobante])
GO
ALTER TABLE [dbo].[ComprobanteDetalle] CHECK CONSTRAINT [FK_ComprobanteDetalle_Comprobante]
GO
ALTER TABLE [dbo].[ComprobanteDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteDetalle_ListaPrecioDetalle] FOREIGN KEY([idListaPrecio], [idListaPrecioDetalle])
REFERENCES [dbo].[ListaPrecioDetalle] ([idListaPrecio], [idListaPrecioDetalle])
GO
ALTER TABLE [dbo].[ComprobanteDetalle] CHECK CONSTRAINT [FK_ComprobanteDetalle_ListaPrecioDetalle]
GO
ALTER TABLE [dbo].[Domicilio]  WITH CHECK ADD  CONSTRAINT [FK_Domicilio_Localidad] FOREIGN KEY([idLocalidad])
REFERENCES [dbo].[Localidad] ([id])
GO
ALTER TABLE [dbo].[Domicilio] CHECK CONSTRAINT [FK_Domicilio_Localidad]
GO
ALTER TABLE [dbo].[Domicilio]  WITH CHECK ADD  CONSTRAINT [FK_Domicilio_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Domicilio] CHECK CONSTRAINT [FK_Domicilio_Usuario]
GO
ALTER TABLE [dbo].[IdiomaComponente]  WITH CHECK ADD  CONSTRAINT [FK_IdiomaComponente_Componente] FOREIGN KEY([idComponente])
REFERENCES [dbo].[Componente] ([id])
GO
ALTER TABLE [dbo].[IdiomaComponente] CHECK CONSTRAINT [FK_IdiomaComponente_Componente]
GO
ALTER TABLE [dbo].[IdiomaComponente]  WITH CHECK ADD  CONSTRAINT [FK_IdiomaComponente_Idioma] FOREIGN KEY([idIdioma])
REFERENCES [dbo].[Idioma] ([id])
GO
ALTER TABLE [dbo].[IdiomaComponente] CHECK CONSTRAINT [FK_IdiomaComponente_Idioma]
GO
ALTER TABLE [dbo].[ListaPrecioDetalle]  WITH CHECK ADD  CONSTRAINT [FK_ListaPrecioDetalle_ListaPrecio] FOREIGN KEY([idListaPrecio])
REFERENCES [dbo].[ListaPrecio] ([id])
GO
ALTER TABLE [dbo].[ListaPrecioDetalle] CHECK CONSTRAINT [FK_ListaPrecioDetalle_ListaPrecio]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([id])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
ALTER TABLE [dbo].[PedidoComprobante]  WITH CHECK ADD  CONSTRAINT [FK_PedidoComprobante_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[PedidoComprobante] CHECK CONSTRAINT [FK_PedidoComprobante_Pedido]
GO
ALTER TABLE [dbo].[PedidoListaPrecioDetalle]  WITH CHECK ADD  CONSTRAINT [FK_PedidoListaPrecioDetalle_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[PedidoListaPrecioDetalle] CHECK CONSTRAINT [FK_PedidoListaPrecioDetalle_Pedido]
GO
ALTER TABLE [dbo].[PedidoProducto]  WITH CHECK ADD  CONSTRAINT [FK_PedidoProducto_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[PedidoProducto] CHECK CONSTRAINT [FK_PedidoProducto_Pedido]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_TipoProducto] FOREIGN KEY([idTipoProducto])
REFERENCES [dbo].[TipoProducto] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_TipoProducto]
GO
ALTER TABLE [dbo].[ProveedorProducto]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorProducto_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[ProveedorProducto] CHECK CONSTRAINT [FK_ProveedorProducto_Producto]
GO
ALTER TABLE [dbo].[ProveedorProducto]  WITH CHECK ADD  CONSTRAINT [FK_ProveedorProducto_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[ProveedorProducto] CHECK CONSTRAINT [FK_ProveedorProducto_Proveedor]
GO
ALTER TABLE [dbo].[RolComponente]  WITH CHECK ADD  CONSTRAINT [FK_RolComponente_Componente] FOREIGN KEY([idComponente])
REFERENCES [dbo].[Componente] ([id])
GO
ALTER TABLE [dbo].[RolComponente] CHECK CONSTRAINT [FK_RolComponente_Componente]
GO
ALTER TABLE [dbo].[RolComponente]  WITH CHECK ADD  CONSTRAINT [FK_RolComponente_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([id])
GO
ALTER TABLE [dbo].[RolComponente] CHECK CONSTRAINT [FK_RolComponente_Rol]
GO
ALTER TABLE [dbo].[Telefono]  WITH CHECK ADD  CONSTRAINT [FK_Telefono_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Telefono] CHECK CONSTRAINT [FK_Telefono_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([idIdioma])
REFERENCES [dbo].[Idioma] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoDocumento] FOREIGN KEY([idTipoDocumento])
REFERENCES [dbo].[TipoDocumento] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoDocumento]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([idTipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
USE [master]
GO
