#top {
    border: 2px solid black;
    width: 100%;
    text-align: right;
    background-color: beige;
}

#left {
    border: 2px solid black;
    float: left;
    width: 30%;
    height: 100%;
    background-color: beige;
}

#right {
    border: 2px solid black;
    float: right;
    width: 69%;
    height: 100%;
    background-color: beige;
}

#login, #recuperarContrasena, #registro {
    border: 2px solid black;
    float: initial;
    text-align: center;
    height: 600px;
    background-color: beige;
}

#tableLogin, #tableRecuperarUsuario {
    margin: 0 auto;
    padding-top: 200px;
    background-color: beige;
}

#tableRegistro {
    margin: 0 auto;
    padding-top: 50px;
    background-color: beige;
}

#result {
    border: 1px solid black;
}

.productos-container {
    border: 2px solid black;
    width: 40%;
    float: left;
}

#loginFailed {
    color: red;
}

#ContentPlaceHolder1_editDataDiv {
    border: 2px solid red;
}

#errorMessageLogger {
    font: bold 20px arial;
    color: red;
}

#infoMessageLogger {
    font: bold 20px arial;
    color: grey;
}

#exitoMessageLogger {
    font: bold 20px arial;
    color: blue;
}

#warningMessageLogger {
    font: bold 20px arial;
    color: yellow;
}

.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(/images/grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .mGrid .alt {
        background: #fcfcfc url(/images/grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(/images/grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }
